/* css is my personal hell */

.error {
	background-color: rgb(197, 10, 10);
	color: white;

	margin-bottom: 5px;
	padding: 4px;
	font-size: 12pt;
}

.searchInput {
	width: 100%;
	padding: 10px !important;
	height: auto !important;
}

.edit-logo {
	max-width: 100%;
	max-height: 200px;
}

#companies {
	width: 100%
}

.otherJobs {
	padding-top: 150px;
}

.buttons * {
	vertical-align: middle;
}

.share-button, .share-button div {
	display: inline-block; margin-right: 2px;
}

/* homepage "company v" link */
#companies > a { 
	text-align: center;
	width: 100%;
	display: inline-block;
	padding: 5px;
	font-size: 140%;
}
#companies > a:hover {
	background-color: rgba(0,0,0,0.7);
	color: white;
	transition: color .15s ease-in,background-color .15s ease-in;
}

/* actual list */
.companyList {
	padding: 0 12.5%;
	max-height: 500px;
	transition: max-height .15s ease-in-out;	
}

#loginBg {
	background-image: url('https://i.imgur.com/V9XgHnp.jpg');
	background-size: cover;	
	width: 100vw;
	height: 100vh;
	background-position: center center;
}

@keyframes popin {
	to{transform: scale(1) translate(-50%, -50%)}
	from{transform: scale(0.8) translate(-60%, -60%)}
}

/* login box */
section.login {
	position: absolute;
	background: rgba(255,255,255,0.8);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
	padding: 25px;
	width: 320px;
	animation-name: popin;
	animation-duration: .2s;
	animation-timing-function: east-out;
}

/* profile box */
.descriptiontext ul {
	list-style-position: inside;
}

section.profile {
	position: relative;
	background: rgba(255,255,255,0.8);
	left: 50%;
	top: 40px;
	transform: translate(-50%, 0);
	box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
	padding: 25px;
	width: 90%;
	animation-name: popin;
	animation-duration: .2s;
	animation-timing-function: east-out;
}

section.profile label {
	margin-top: 10px;
	margin-bottom: 0;
}

section.profile ul {
	list-style-position: inside;
	font-size: 150%;
}

section.profile input {
	width: 75%;
	display: block;
}

section.profile textarea {
	width: 100%;
	height: 200px;
}

/* login box register link */
a.register {
	display: block;
	background-image: linear-gradient(-180deg, #307ED0 0%, #2868AB 90%);
	border-radius: 5px;
	color: white;
	border: 1px solid rgba(36, 36, 36, 0.20);
	line-height: 200%;
	text-align: center;

}

/* login box centered svg */
section.login .logocenter {
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

/* oauth login buttons */
section.login a.auth {
	display: block;
	padding: 5px;
	color: white;
}
section.login .strava {
	background-color: orangered;
}

/* door emoji for login /register link */
.loginlink::before { content: "🚪"}

/* login link in homepage banner */
#homeheader .loginlink,
#homeheader .loggedin {
	position:absolute;
	padding-right:12.5%;
	top: 25px;
	color:white;
	right:0;
}

/* slidein header right nav list */
#slideinheader > ul {
	padding-right: 12.5%;
	margin: 0;
}

/* login link in headers */
#slideinheader .loggedin,
#regularheader .loggedin {
	color: white;
}

/* login link dropdown */
.loggedin .userdropdown {
	right: 12.5vw;
}

/* list in user dropdown */
.loggedin ul {
	padding: 10px;
	width: 150px;
	color: #555;
	list-style: none;
}

/* logo not in header */
.logo {
	height: 50px;
	width: 200px;
}

/* logo in header */
.header .logo {
	width: 150px;
	height: 35px;
}

/* company info table on job page */
.companydata {
	float: right;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	padding: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
	color: #757575;
	line-height: 190%;
}

.companydata ul {
	list-style: none;
}

/* sliding container for header */
#slideinheader {
	position: fixed;
	left: 0;
	top: -100px;
	right: 0;
	color: white;
	overflow: hidden;
	transition: top .3s ease-in;
}


.header {
	background-color: rgba(41, 41, 41, 0.98);	
}

.header > * { display: inline-block; width: 50%; }
.header > div, #slideinheader > ul { vertical-align: middle; }

.header div { padding-top: 3px; }

.header > ul { list-style-type: none; text-align: right; padding-right: 12.5%; }
.header > ul > li { vertical-align: middle; display: inline-block; margin-left: 10px; }

.visible {
	top: 0 !important; /* need to override id style */
	overflow: visible !important;
}



.userForm input, .userForm button {
	display: block;
	width: 100%;
	line-height: 200%;
	margin-bottom: 10px !important;
}

.userForm label {
	margin-bottom: 0 !important;
}

#loginForm button, .navbutton button, .top button {
	background-image: linear-gradient(-180deg, #8530D0 0%, #6E27AE 90%);
	border-radius: 5px;
	color: white;
	border: 1px solid rgba(36, 36, 36, 0.20);
}


#registerForm button {
	background-image: linear-gradient(-180deg, #307ED0 0%, #2868AB 90%);
	border-radius: 5px;
	color: white;
	border: 1px solid rgba(36, 36, 36, 0.20);
}
.list, .main {
	width: 95%;
	margin: 0 auto;
}

.headtext {
	position: absolute;
	top: 30%;
	text-align: center;
	font-size: 24pt;
	font-weight: 800;
	color: white;
	text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
	width: 100%;
}

#homeheader {
	background-image: url(https://i.imgur.com/07aqlZV.jpg);
	/* GOOD-ish background-image: url(http://imgur.com/R1uP1Km.jpg);*/
	/*background-image: url(https://i.imgur.com/cVLJWX9.jpg);*/
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: cover;
	height: 200px;
    vertical-align: text-bottom;
	position: relative;
	display: flex;
	text-align: center;

}

#homeheader .top button { float: right; }
#homeheader div.top {
	padding: 5px 12.5%;
	width: 100%;
	text-align: left;
}
#homeheader div.bottom {
	position: absolute;
	bottom: 0px;
	color: white;
	font-weight: 400;
	padding: 20px 12.5%;
	width: 100%;
	background-color: rgba(0,0,0,0.55);
font-size: 18pt;
}

#taglist .tagblap {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #c64087;
    color: #fff;
    margin-top:5px;
    
}
#taglist .tagblap {
	text-decoration: none;
    border-radius: 2px;
    transition: background-color .3s ease-in;
    font-weight: bold;
    display: inline-block;
}

.tagblap:hover{background-color:#3c424d !important;}

.buttons .tagblap {
	padding: 2px 8px;
	margin-right: 10px;
    background-color: #c64087;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color .3s ease-in;
    font-weight: bold;
    display: inline-block;    
}


/* thanks github */

.userdropdown {
	position: absolute;
	right: 0;
	left: auto;
	background-color: white;
	margin-top: 8px;
	z-index: 100;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.userdropdown::before {
    top: -16px;
    right: 9px;
    left: auto;
}
.userdropdown::before {
    border: 8px solid transparent;
    border-bottom-color: rgba(27,31,35,0.15);
}
.userdropdown::before, .userdropdown::after {
    position: absolute;
    display: inline-block;
    content: "";
}
.userdropdown::after {
    top: -14px;
    right: 10px;
    left: auto;
}
.userdropdown::after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
.userdropdown::before, .userdropdown::after {
    position: absolute;
    display: inline-block;
    content: "";
}



ul#joblist {
	list-style: none;
}
ul { padding-left: 0; }

#joblist .jobdata {
	margin-left: 10px;
	font-size: 8pt;
}

#joblist h1 {
   font-size:10pt;
   margin: 0; padding: 0;
   
}

#joblist .tagblap {
	padding: 1px 6px;
	border-radius: 4px;
}

li.job {
	padding:5px;
	margin-bottom:30px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center; 
	
}

#joblist .moment {
	border-bottom: solid 1px #ccc;
	padding-top: 15px;
	margin-bottom: 20px;
}


#loading {
	width: 100%;
	height: 500px;
	text-align: center;
	margin: 100px 0;
}
/*
.listthing { padding-top: 60px; }
*/
/*
#base2 {
		display: none;
	}*/

	#joblist img.logo {
		width: 100px;
		height: auto;
	}



@media screen and (min-width: 620px) { 

	section.profile { width: 620px; }
	

	.list, .main {
		width: 75%;
		margin: 0 auto;
	}
	
	ul#joblist { padding-left: 40px; }
	#joblist h1 {
		font-size: 14pt;
	}
	#joblist .jobdata {
		font-size: 12pt;
	}
	#joblist img.logo {
		width: 200px;
	}

	li.job > * {
		display: inline-block;
		vertical-align: middle;
	}
	li.job:hover {
		box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	}

	#homeheader { height: 400px; }

	.headtext {
		position: absolute;
		top: 30%;
		right: 20%;
		width: auto;
		font-size: 36pt;
		font-weight: 800;
		text-indent: -25px;
		text-align: left;
		color: white;
		text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
	}

}
@media screen and (min-width: 992px) { 
	.listthing {
		padding-top: 0;
	}
	#base {
		padding-top: 39px;
		float: left;
		width:50%;
		height: 100vh;
	}
	#base2 {
		width:100%;
		clear: both;
		margin: 0 auto;
	} 
}


body {
	margin:0;
	font-family: Oxygen,sans-serif;
}


.companyList .logo {
	display: inline-block;
}

.companyList img {
	padding: 5px;
	height: 100%;
	width: auto !important;
}
.hider {
	max-height: 0;
	overflow: hidden;
	transition: max-height .15s ease-in-out;
}

.star {
	
}
.star:link {
	color: #ccc;
	content: "★";
	text-decoration: none;
	display: inline-block;
}
.star:hover {
	color: yellow !important;
	transition: color 0.1s ease-in-out;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);	
}
.star:active {
	text-shadow: 1px 1px 1px black;
}
.star:visited {
	color: #ccc;
}
.starEnabled:link {
	text-decoration: none;
}
.starEnabled, .starEnabled:visited {
	color: yellow;
}
.starEnabled {
	color: yellow;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	
}
.starEnabled:hover {
	color: #ccc !important;
	transition: color 0.1s ease-in-out;	
	text-shadow: none;
	
}
	/*
img { width: 200px; }
#headercompanylogo {
	height: 30px; width: auto;
}
#companies {
	color: white;
}
*/
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
	display: inline-block;
	font-family: inherit;
	font-size: 2.0rem;
	height: 2.8rem;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.15s linear,background 0.15s linear;
	-moz-transition: border-color 0.15s linear,background 0.15s linear;
	-ms-transition: border-color 0.15s linear,background 0.15s linear;
	-o-transition: border-color 0.15s linear,background 0.15s linear;
	transition: border-color 0.15s linear,background 0.15s linear;
}
	/*
	#header {
		position: absolute; width:100%;background-color: black;
	}
	*/


#searchNav {
	background-color: black;margin-top:5px;margin-left:25%;
}

