.userForm input, .userForm button {
	display: block;
	width: 100%;
	line-height: 200%;
}

#loginForm button {
	background-image: linear-gradient(-180deg, #8530D0 0%, #6E27AE 90%);
	border-radius: 5px;
	color: white;
	border: 1px solid rgba(36, 36, 36, 0.20);
}


#registerForm button {
	background-image: linear-gradient(-180deg, #307ED0 0%, #2868AB 90%);
	border-radius: 5px;
	color: white;
	border: 1px solid rgba(36, 36, 36, 0.20);
}

#homeheader {
  /*background-image: url(http://i.imgur.com/HFhHjrI.jpg);*/
  background-image: url(http://imgur.com/R1uP1Km.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: auto 150px;
  height: 150px;
    vertical-align: text-bottom;
    position: relative;

}
#homeheader div {
  position: absolute;
bottom: 0px;
color: white;
font-weight: 400;
padding: 20px;
width: 100%;
background-color: rgba(0,0,0,0.55);
font-size: 18pt;
}

.tagblap {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #c64087;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color .3s ease-in;
    font-weight: bold;
    display: inline-block;
    margin-top:5px;
    
}
.tagblap:hover{background-color:#3c424d}



ul { padding-left: 0; }

.jobs ul li a.title {
   font-size:14pt;
}

.jobs img.logo {
	width: 100px;
	float: left;
}
.jobs ul li {
    display:block;
    padding:5px;
	margin-bottom:10px;
	clear: both;
}


#loading {
	width: 100%;
	height: 500px;
	text-align: center;
	margin: 100px 0;
}

.listthing { padding-top: 60px; }
#base2 {
		display: none;
	}
@media screen and (min-width: 620px) { 
ul { padding-left: 40px; }
	.jobs img.logo {
		width: 200px;
	}
	.jobdata { padding-left:215px;}
	.jobs ul li a.title {
		font-size:14pt;
	}

}
@media screen and (min-width: 992px) { 
	.listthing {
	overflow-y:scroll; height: 100%;/*width: 100%;*/
	padding-top: 0;
}
	#base {
		padding-top: 39px;
		float: left;
		width:50%;
		height: 100vh;
	}
	#base2 {
		padding-top:39px;
		float: right;
		width:50%;
		height: 100vh;
		display: block;
	} 
}
	body {
		margin:0;     /* This is used to reset any browser-default margins */
		height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100%;  /* As above. */
    font-family: Oxygen,sans-serif;
	}


	.companyList {   
		max-height:500px;
    background-color: rgba(220, 220, 220, 0.9);
		position: absolute;
    top: 39px;
    box-shadow: 2px 2px 10px #999;
    z-index: 500;
  }

  .companyList img {
    padding: 5px;
  }
  
  #companyListLeft {
    float: left;
  }
  #companyListRight {
    padding-left: 150px;
  }
	#base {/*	
		padding-top: 39px;
		float: left;
		width:20vw;
		height: 100vh;*/
	}
	

	.hider {
		max-height: 0;
		overflow: hidden;
		transition: max-height .15s ease-in-out;
	}
img { width: 200px; }
	#companies {
		color: white;
	}
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		border-radius: 0;
		background-color: #FFFFFF;
		border-style: solid;
		border-width: 1px;
		border-color: #cccccc;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.75);
		display: inline;
		font-family: inherit;
		font-size: 2.0rem;
		height: 2.8rem;
		margin: 0 0 0 0;
		padding: 0.5rem;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: border-color 0.15s linear,background 0.15s linear;
		-moz-transition: border-color 0.15s linear,background 0.15s linear;
		-ms-transition: border-color 0.15s linear,background 0.15s linear;
		-o-transition: border-color 0.15s linear,background 0.15s linear;
		transition: border-color 0.15s linear,background 0.15s linear;
	}
	#header {
		position: absolute; width:100%;background-color: black;
	}
	
.navbutton {
	vertical-align: middle;height:36px; background-color: red; float: right;text-align: center;
}

#header h1 {
	margin:0; padding:0;float: left;
}
	#searchNav {
		background-color: black;margin-top:5px;margin-left:25%;
  }

